<h1><%= title %></h1>

<form action="/account/login" method="POST" class="login-form">
  <label for="account_email">Email:</label>
  <input type="email" name="account_email" id="account_email" required>

  <label for="account_password">Password:</label>
  <input type="password" name="account_password" id="account_password" required>

  <button type="submit">Login</button>

  <p><a class="signup-link" href="/account/register">No account? Sign Up</a></p>

</form>
