/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************* Header *********************/
#top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.siteName a,
#tools a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #004177;
}

.siteName a {
  font-size: 2rem;
}

@media screen and (min-width: 64rem) {
  #top-header {
    margin-bottom: 20px;
  }
}

/********************* Navigation *********************/
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004177;
  min-height: 30px;
}

nav ul li a {
  color: #fff;
}

@media screen and (min-width: 64rem) {
  nav ul li a:active {
    color: #c26262;
  }
}

/********************* Main *********************/
h1,
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-family: monospace;
  font-weight: 700;
}

h1 {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
}

.hero {
  position: relative;
  margin-bottom: 25px;
}

.hero picture img {
  display: block;
  margin: 0 auto;
  width: 250px;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 10px;
  color: #004177;
  background-color: #ffffff73;
}

.hero__content img {
  width: 100px;
  -webkit-tap-highlight-color: transparent;
}

#inv-display {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
}

#inv-display li {
  width: 80%;
  padding: 10px;
  border: 1px solid #323232;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #004177;
  max-width: 320px;
  margin-inline: auto;
  list-style: none;
}

#inv-display li h2,
#inv-display li span {
  font-size: 1.4rem;
}

.vehicle-detail {
  width: 90%;
  margin-inline: auto;
  padding: 10px;
  margin: 20px auto 30px;
  border: 1px solid #323232;
  box-shadow: inset 0 0 5px #004177;
  border-radius: 5px;
}

.vehicle-detail img {
  margin-bottom: 10px;
}

.vehicle-detail p {
  font-weight: 100;
  margin-bottom: 5px;
}

.vehicle-detail p:last-child {
  margin: 0;
}

.vehicle-detail strong {
  text-decoration: underline;
}

.vehicle-detail img {
  width: 100%;
}

#inv-display li img {
  margin-inline: auto;
  display: block;
}

#inv-display li a {
  text-decoration: none;
  color: #323232;
}

section h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

section ul {
  padding-left: 20px;
}

section li {
  margin-bottom: 10px;
}

.reviews {
  margin-bottom: 30px;
  grid-area: Reviews;
}

.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  margin-bottom: 30px;
  grid-area: Upgrades;
}

.upgrades figure {
  background-color: #004177;
  display: grid;
  grid-template-rows: 2fr .5fr;
  text-align: center;
}

.upgrades img {
  display: block;
  margin: auto;

}

.upgrades figcaption {
  background-color: #fff;
  height: auto;
  margin-top: auto;
  -webkit-tap-highlight-color: transparent;
}

.login-form {
  padding: 1em 2em;
  width: 90%;
  max-width: 500px;
  border: 1px solid #004177;
  margin: 0 auto 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.login-form input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  min-height: 48px;
  font-size: 1rem;
  padding: 5px;
}

.login-form button {
  display: block;
  margin: 0 auto 20px;
  font-size: 1rem;
  padding: .5em 2em;
  border-radius: 10px;
}

.signup-link {
  font-size: 1.2rem;
  color: #323232;
  text-align: center;
  display: block;
}

#passwdBtn {
  cursor: default;
  border: 1px solid #004177;
  border-radius: 5px;
  padding: .2em;
  display: inline-block;
  transition: transform 0.1s ease;
}

#passwdBtn:active {
  transform: scale(0.9);
}

.pass-rqmt {
  margin-bottom: 10px;
  display: block;
  font-weight: 100;
}

.info-message {
  border-radius: 5px;
  box-shadow: 0 0 10px #323232;
  background-color: #004177;
  padding: .5em;
  margin: 0 auto 20px;
  width: 90%;
  max-width: 500px;
  color: #fff;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

.notice {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 20px;
  padding: .5em;
  border-radius: 5px;
  background-color: #004177;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  box-shadow: 0 0 10px #323232;
}

.notice li {
  list-style: none;
  color: #fff;
}

input:required:invalid,
input:focus:invalid {
  /* insert your own styles for invalid form input */
}

input:required:valid {
  /* insert your own styles for valid form input */
}

.management-links {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 20px;
  display: grid;
  gap: 10px;
}

.management-links li {
  list-style: none;
  text-align: center;
}

.management-links li a {
  color: #004177;
  font-size: 1.5rem;
}

.inventory-form,
.classification-form,
.manage_inventory {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 30px;
}

.inventory-form input,
.classification-form input,
.inventory-form textarea,
.inventory-form select {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  min-height: 48px;
}

.classification-form input {
  font-size: 1.2rem;
  padding: .2em;
}

.classification-form label {
  font-size: 1.2rem;
}

.classification-form button,
.inventory-form button {
  padding: .5em 1em;
  border-radius: 5px;
  border: none;
  background-color: #004177;
  color: #fff;
}

.manage_inventory h2 {
  text-align: center;
  margin-bottom: 10px;
}

.manage_inventory p,
.manage_inventory select {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 100;
}

#inventoryDisplay {
  border-collapse: separate;
  font-size: 1rem;
  width: 100%;
}

/* Apply extra spacing *only* if the table has content */
#inventoryDisplay:has(tbody tr) {
  border: 1px solid #004177;
  padding: 10px;
  border-spacing: 0 10px;
}

#inventoryDisplay th {
  font-size: 1.2rem;
  color: #008cff;
}

#inventoryDisplay a {
  color: #004177;
  font-weight: bold;
}

#inventoryDisplay thead th {
  border-bottom: 2px solid #004177; /* or whatever color fits your theme */
}

#inventoryDisplay td {
  font-weight: 100;
}

@media screen and (min-width: 64rem) {
  html {
    background-image: url(/images/site/small_check.jpg);
  }

  body {
    padding: 20px 10px 10px;
    width: 60%;
    background-color: #fff;
    margin: 10px auto;
    border: 5px solid #c26262;
    border-radius: 5px;
  }

  #tools {
    font-size: 1.1rem;
  }

  nav ul {
    min-height: 45px;
  }

  nav ul li {
    cursor: pointer;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .hero picture img {
    width: 800px;
  }

  .hero__content {
    font-size: 1.8rem;
    top: 50px;
    left: 40px;
    background-color: #bbbbbb60;
    padding: 10px;
  }

  .hero__content img {
    cursor: pointer;
    margin-top: 20px;
    width: 180px;
  }

  #inv-display {
    grid-template-columns: repeat(2, 1fr);
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "upgrades Reviews";
    gap: 15px;
  }

  .sections h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .reviews ul li {
    font-size: 1.5rem;
  }

  .upgrades figcaption {
    font-size: 1.4rem;
  }

  .vehicle-detail {
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "first last"
    ;
    gap: 15px;
  }

  .vehicle-detail h1 {
    grid-area: title;
  }

  .vehicle-detail div:first {
    grid-area: first;
  }

  .vehicle-detail div:last-child {
    grid-area: last;
  }

  .vehicle-detail p {
    font-size: 1.5rem;
  }
  
  .inventory-form input,
  .inventory-form select,
  .classification-form input {
    min-height: 30px;
  }

  .classification-form button,
  .inventory-form button,
  .login-form button {
    cursor: pointer;
  }
}

/********************* Footer *********************/